.body {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    background-color: #f9f9f9;
    font-family: 'Inter', sans-serif;
}

.wordle-container {
    padding: 16px;
}

.list-header {
    padding-left: 300px;
    padding-right: 300px;
}

.history {
    font-size: 20px;
    font-weight: bold;
}

.parent-folder:hover {
    cursor: pointer;
    text-decoration: underline;
}

.button-group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
    text-align: center;
}

.button-group button {
    padding: 8px 15px;
    margin-right: 10px;
    background-color: #dc3545;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.button-with-dropdown {
    position: relative;
    text-align: center;
    align-items: center;
}

.button-group button:hover,
.button-with-dropdown:hover>button {
    background-color: #c82333;
}

.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 90%;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-top: 4px;
    z-index: 10;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown li {
    padding: 10px 0;
    cursor: pointer;
    border-bottom: 1px solid #eee;
    text-align: center;
}

.dropdown li:hover {
    background-color: #f0f0f0;
}

.wordle-list {
    list-style: none;

    padding-left: 300px;
    padding-right: 300px;
    margin: 0;
}

.wordle-list>li {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 8px;
    transition: background-color 0.2s;
    gap: 6px;
}

.wordle-list li.selected {
    background-color: #c9e6ff;
}

.fa-file-alt {
    color: #052c65;
}

.wordle-root-item {
    color: black;
}