<div class="body">
  <div class="header">
    <app-menu 
    [showBackButton]="false"
    [mainPage]="true"></app-menu>
  </div>

  <div class="title-container">
    <h1>Competiciones</h1>

    <div *ngIf="isProfessor || isAdmin" class="new-competition">
      <button class="new-competition-button" (click)="openCreateCompetition()">
        Añadir nueva competición
      </button>
    </div>
  </div>
  <div *ngIf="isStudent && noCompetitions" class="no-competition">
    <h4>No estás en ninguna competición</h4>
  </div>

  <div class="competition-list-container">
    <div class="competition-list">
      <div *ngFor="let competition of competitions" class="competition-item">
        <div class="competition-header">
          <i class="arrow fa fa-fw" 
             [class.fa-chevron-right]="!competition.isOpen" 
             [class.fa-chevron-down]="competition.isOpen" 
             aria-hidden="true"
             (click)="toggleCompetition(competition)" 
             title="Mostrar/Ocultar concursos"></i> 
          <h3 (click)="navigateToCompetitionView(competition.name, competition.id)" 
              title="Ver detalles de la competición {{ competition.name }}">
              <strong>{{ competition.name }}</strong>
          </h3>
      </div>
        <div class="contest-list" *ngIf="competition.isOpen">
          <ul>
            <li *ngFor="let contest of competition.contests" class="contest-item">
              <span class="contest-link" (click)="viewContest(contest.id, competition)">{{ contest.contestName
                }}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>

<div class="modal-overlay" *ngIf="isModalOpen" (click)="closeModal()"></div>
<div class="modal" *ngIf="isModalOpen">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <app-competition [professorName]="professorName"></app-competition>
  </div>
</div>