.body {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    background-color: #f9f9f9;
    font-family: 'Inter', sans-serif;
}

.content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.edit-wordle-card {
    max-width: 600px;
    width: 100%;
    border: none;
    border-radius: 0.5rem;
    background-color: #ffffff;
}

.main-title {
    font-weight: 600;
    color: #333;
}

.edit-section-title {
    display: block;
    font-size: 1.3rem;
    font-weight: 600;
    color: #000000;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid #e0e0e0;
}

.form-control-lg {
    font-size: 1.1rem;
}

.competitions-list-container {
    max-height: 400px;
    overflow-y: auto;
    padding: 0.5rem;
}

.competition-name {
    font-weight: 600;
    color: #495057;
    font-size: 1.1rem;
}


.form-check {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.form-check-input {
    cursor: pointer;
    border-color: #adb5bd;
}

.form-check-input:checked {
    background-color: #cb0017;
    border-color: #cb0017;
}

.form-check-label {
    color: #343a40;
    cursor: pointer;
    padding-left: 0.5rem;
}

.btn-primary {
    background-color: #cb0017;
    border-color: #cb0017;
    border-radius: 15px;
    font-weight: 500;
    color: white;
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, transform 0.1s ease-in-out;
}

.btn-primary:hover:not(:disabled) {
    background-color: #a30013;
    border-color: #a30013;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}