.body {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    font-family: "Inter", sans-serif;
}

.wordle-list {
    background-color: #f5f7fa;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-left: 25rem;
    padding-right: 25rem;
    padding-top: 1rem;
}

.competition-card {
    background-color: #ffffff;
    border-radius: 16px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    padding: 1.5rem;
    padding-bottom: 1.5rem;
}

/* Estilo para flechas */
.arrow {
    font-size: 1.2em;
    margin-right: 10px;
    display: inline-block;
    border-radius: 100%;
    transition: background-color 0.2s ease;
}

.competition-header:hover .arrow,
.contest-header:hover .arrow {
    background-color: #e9ecef;
}

.competition-header,
.contest-header {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.competition-title {
    font-size: 1.6rem;
    color: #1a1a1a;
    margin: 0;
}

.contest-card {
    margin-left: 20px;
    border-bottom: 1px solid #dcdcdc;
    padding: 0.8rem 0;
}

.contest-title {
    font-size: 1.2rem;
    color: #333;
    margin: 0;
}

.wordle-container {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    padding: 0.5rem 0 0 50px;
  }
  
  .wordle-item {
    display: block;
  }
  
  .wordle-badge {
    background-color: transparent;
    color: #015e79;
    font-weight: 600;
    padding: 0.4rem 0;
    font-size: 1rem;
  }
  