<div class="wordle-container">

    <div class="header">
        <app-menu (backClicked)="goBack()"></app-menu>
    </div>

    <div class="main-content">

        <h2>Lista de Wordles</h2>
        <div class="button-group">
            <button *ngIf="canCreateWordle" (click)="createWordle()">Crear wordle</button>
            <button *ngIf="canEditWordle" (click)="editWordle()">Editar wordle</button>
            <button *ngIf="canCreateFolder" (click)="createFolderPushed()">Crear carpeta</button>
            <div class="button-with-dropdown" *ngIf="canMoveWordle">
                <button (click)="moveWordle()">Mover a carpeta</button>
                <div *ngIf="dropdownVisible" class="dropdown">
                    <ul>
                        <li *ngFor="let folder of folderOptions" (click)="selectFolderToMove(folder)">
                            {{ folder.name }}
                        </li>
                    </ul>
                </div>
            </div>
            <button *ngIf="canDeleteWordle" (click)="deleteWordleAndFolder()">Borrar</button>
        </div>

        <ul class="wordle-list">
            <div *ngIf="isCreatingFolder" class="folder-name-input">
                <input type="text" placeholder="Nombre de la carpeta" [(ngModel)]="folderName"
                    (keyup.enter)="createFolder()" />
            </div>

            <li *ngFor="let folder of folderList; let i = index"> <app-folder-display [folder]="folder"
                    [professorName]="professorName" [isSelected]="selectedFolders.includes(i)"
                    (folderSelected)="toggleFolderSelection(i)"></app-folder-display>
            </li>

            <li *ngFor="let wordle of wordleList; let i = index" [class.selected]="selectedWordles.includes(i)"
                (click)="toggleWordleSelection(i)" class="wordle-root-item"> <i class="fas fa-file-alt"></i>
                <span>{{ wordle.word }}</span>
            </li>
        </ul>
    </div>
    <app-footer></app-footer>
</div>

<div class="modal-backdrop" *ngIf="modalVisible" (click)="closeModal()"></div>
<div class="modal" *ngIf="modalVisible">
    <div class="modal-content" (click)="$event.stopPropagation()">
        <app-wordle [folderId]="0" [professorName]="professorName"></app-wordle>
    </div>
</div>