<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
  href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
  rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="header">
  <img src="../../assets/sin_fondo_negro_zoom.png" alt="Logo Universidad" class="logo">

  <ng-container *ngIf="isLogged">
    <button *ngIf="!isAdmin" class="nav-button" routerLink="/competiciones" routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}">
      Página Principal
    </button>

    <button class="nav-button" routerLink="/wordles" routerLinkActive="active" *ngIf="isProfessor && !isPlayingWordle">
      Ver Wordles
    </button>

    <button class="nav-button" routerLink="/wordlesResueltos" routerLinkActive="active" *ngIf="isStudent && !isPlayingWordle">
      Ver Wordles
    </button>

    <button class="nav-button" routerLink="/usuarios" routerLinkActive="active" *ngIf="isAdmin">
      Ver Usuarios
    </button>

    <button class="nav-button" *ngIf="showBackButton" (click)="goBack()">
      <img src="../../assets/flecha.png" alt="Atrás" class="arrow">
      Atrás
    </button>

    <div class="spacer"></div>

    <button class="nav-button" *ngIf="!mobilePhone || mainPage" (click)="onLogOut()">
      Cerrar Sesión
    </button>
  </ng-container>

</div>