<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
  href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
  rel="stylesheet">

<div class="header">
  <img src="../../assets/sin_fondo_negro_zoom.png" alt="Logo Universidad" class="logo">

  <ng-container *ngIf="isLogged">
    <button class="nav-button" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      Página Principal
      <div class="underline"></div>
    </button>

    <button class="nav-button" routerLink="/wordles" routerLinkActive="active" *ngIf="!isAdmin">
      Ver Wordles
      <div class="underline"></div>
    </button>

    <button class="nav-button" *ngIf="showBackButton" (click)="goBack()">
      <img src="../../assets/flecha.png" alt="Atrás" class="arrow">
      Atrás
      <div class="underline"></div>
    </button>

    <div class="spacer"></div>

    <button class="nav-button" (click)="onLogOut()">
      Cerrar Sesión
      <div class="underline"></div>
    </button>
  </ng-container>

</div>