.header {
    display: flex;
    align-items: stretch;
    background-color: #ffffff;
    padding: 0 20px;
    font-family: "Inter", sans-serif;
    box-shadow: 0 .375rem 1.5rem 0 rgba(140, 152, 164, .13);
    border-top: 4px solid #cb0017;
    height: 70px;
}

.logo {
    height: 60px;
    margin-right: 20px;
    align-self: center;
}

.nav-button {
    background: none;
    border: none;
    font-size: 16px;
    padding: 0 20px;
    cursor: pointer;
    position: relative;
    margin: 0;
    display: flex;
    align-items: center;
    height: 100%;
    border-bottom: 3px solid transparent;
    transition: background-color 0.3s ease, border-bottom 0.3s ease;
}

.nav-button:hover {
    background-color: #f8f9fa;
    border-bottom: 3px solid #cb0017;
}

.nav-button.active,
.nav-button:focus {
    font-weight: bold;
    border-bottom: 3px solid #cb0017;
}

.arrow {
    height: 30px;
    margin-right: 5px;
}

.spacer {
    flex: 1;
}

.right-buttons {
    margin-left: auto;
}

@media (max-width: 450px) {
    .nav-button {
        font-size: 12px;
    }

    .logo {
        height: 60px;
        align-self: center;
    }

    .spacer {
        margin: 0;
    }
}