body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 10px;  /* Espacio entre las filas */
}

.row {
    display: flex;
    justify-content: center;  /* Centramos horizontalmente cada fila */
    gap: 10px;  /* Espacio entre los cuadros de cada fila */
}

.input-box {
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid #000;
    border-radius: 5px;
    outline: none;
    caret-color: transparent; /* Oculta el cursor de texto */
}

.input-box:focus {
    border-color: #007BFF; /* Cambia este color al que desees */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Añade un efecto de sombra si lo deseas */
}

.keyboard {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.keyboard-row {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.key {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #f0f0f0;
    cursor: pointer;
    user-select: none;
}

.key:active {
    background-color: #ccc;
}

.special-key {
    width: auto;
    padding: 0 20px;
}