.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 30px 20px;
}

.btn.primary {
  margin-top: 10px;
  background-color: #cb0017;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 0.9em;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn.primary:hover {
  background-color: #980011;
}

.student-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.student-item {
  background-color: white;
  padding: 12px 20px;
  border-top: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
}

.student-item:nth-child(odd) {
  background-color: rgba(0, 0, 0, .03);
}

.student-name {
  font-weight: 500;
  font-size: 1em;
  color: #015e79;
  font-weight: bold;
}

.modal-backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1040;
  display: block;
  opacity: 1;
  transition: opacity 0.3s ease-out;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  z-index: 1050;
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 500px;
  max-height: 75vh;
  overflow-y: auto;
}