<div class="container">
    <ul class="student-list">
        <li *ngFor="let student of students" class="student-item">
            <span class="student-name">{{ student.username }}</span>
        </li>
    </ul>

    <button class="btn primary" (click)="openStudentModal()">
        + Añadir Alumno
    </button>
</div>

<div class="modal-backdrop" *ngIf="showModal" (click)="closeModalOnBackdropClick($event)">
    <div class="modal">
        <app-new-student [competitionId]="competitionId" [professorName]="professorName"
            [competitionName]="competitionName" (close)="closeStudentModal()">
        </app-new-student>
    </div>
</div>