<div class="container mt-4">
    <h1>Alumnos participando</h1>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <button class="nav-link" [class.active]="currentTab === 'add-student'" (click)="setTab('add-student')">
                Añadir Alumno
            </button>
        </li>
        <li class="nav-item">
            <button class="nav-link" [class.active]="currentTab === 'upload-file'" (click)="setTab('upload-file')">
                Subir Archivo Excel
            </button>
        </li>
    </ul>

    <div *ngIf="currentTab === 'add-student'" class="mt-3">
        <button class="btn btn-primary btn-sm ml-3" (click)="addStudent()">
            Añadir Alumno
        </button>
    </div>
    <div *ngIf="currentTab === 'upload-file'" class="mt-3">
        <form (submit)="addStudentExcel()">
            <input type="file" accept=".xlsx" (change)="onFileSelected($event)" class="form-control-file" />
            <button class="btn btn-primary btn-sm ml-3" type="submit" [disabled]="!selectedFile">
                Subir Archivo
            </button>
        </form>
    </div>

    <ul class="mt-4">
        <li *ngFor="let student of students" class="contest-item d-flex align-items-center">
            <span class="student-name">{{ student.username }}</span>
        </li>
    </ul>
</div>