<div class="contest-list">
  <h2>Estadísticas del concurso</h2>

  <table class="summary-table">
    <thead>
      <tr>
        <th colspan="6" class="table-title">Resumen</th>
      </tr>
      <tr>
        <th>Palabra</th>
        <th>Aciertos</th>
        <th>Intentando</th>
        <th>Fallada</th>
        <th>Promedio de intentos</th>
        <th>Promedio de tiempo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let wordle of wordlesData">
        <td>{{ wordle.wordle }}</td>
        <td>{{ convertPercentage(wordle.success) }}%</td>
        <td>{{ convertPercentage(wordle.trying) }}%</td>
        <td>{{ convertPercentage(wordle.wrong) }}%</td>
        <td>{{ convertTries(wordle.totalTriesAccumulated) }}</td>
        <td>{{ convertTime(wordle.totalTimeAccumulated) }}</td>
      </tr>
    </tbody>
  </table>

  <div *ngFor="let wordle of wordleStudents">
    <table class="details-table">
      <thead>
        <tr>
          <th colspan="8" class="table-title">Palabra: {{ wordle.wordle }}</th>
        </tr>
        <tr>
          <th>Alumno</th>
          <th>Correo</th>
          <th>Intentos</th>
          <th>Tiempo inicio</th>
          <th>Tiempo fin</th>
          <th>Tiempo total</th>
          <th>Última palabra</th>
          <th>Terminado</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of wordle.students">
          <td>{{ student.name }}</td>
          <td>{{ student.email }}</td>
          <td>{{ student.totalTries }}</td>
          <td>{{ student.startTime }}</td>
          <td>{{ student.endTime }}</td>
          <td>{{ convertTime(student.totalTime) }}</td>
          <td>{{ student.lastWordle }}</td>
          <td>{{ student.finished ? 'Sí' : 'No'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>