.body {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

.contest-info {
    padding: 20px 100px;
    font-family: "Inter", sans-serif;
}

/* Título de la Competición */
.competition-title {
    color: black;
    margin-top: 0;
    margin-bottom: 10px;
}

/* Fila para el nombre del concurso y los botones */
.contest-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    flex-wrap: wrap;
}

/* Nombre del Concurso */
.contest-name {
    color: #cb0017;
    font-size: 1.1em;
    font-weight: bold;
}

/* Contenedor para los botones */
.button-group {
  display: flex;
  gap: 5px;
  align-items: center;
}

/* Botones */
.contest-button {
    font-size: calc(0.90375rem + 0.045vw);
    background-color: #cb0017;
    border-color: #cb0017;
    color: white;
    padding: 0.375rem 0.75rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contest-button:hover {
    background-color: #980011;
}

.delete-button {
    font-size: calc(0.90375rem + 0.045vw);
    color: #e5534b;
    background-color: white;
    border: none;
    border-radius: 0.5rem;
    padding: 0.375rem 0.75rem;
    float: right;
    transition: background-color 0.3s;
}

.delete-button:hover {
    background-color: #e5534b79;
}

.button-text {
    margin-left: 2px;
}

.contest-navbar {
    border-top: 1px solid #eeeeee;
    margin-top: 20px;
}

.nav-tabs {
    border-top: 3px solid #cb0017;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.tab-item {
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid transparent;
    border-bottom: none;
    margin-right: 5px;
    background-color: #ffffff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition: background-color 0.3s ease;
}

/* Estilo para la pestaña activa */
.tab-item.active {
    background-color: #ffffff;
    border-width: 1px 1px 2px 1px;
    border-bottom: 3px solid #cb0017;
    border-style: solid;
    position: relative;
    bottom: -1px;
    color: #000000;
    font-weight: bold;
}

/* Contenedor del contenido de las pestañas */
.tab-content {
    padding: 20px;
    border-top: none;
    min-height: 150px;
}

/* Estilos para el contenido de la pestaña Información */
.info-content p {
    margin-bottom: 10px;
    line-height: 1.5;
}

.info-content p strong {
    margin-right: 5px;
}