<div class="contest-list">
  <h2>Concursos Disponibles</h2>
  <ul>
    <li *ngFor="let contest of contests" class="contest-item d-flex align-items-center">
      <span class="contest-name">{{ contest.contestName }}</span>
      <div class="contest-details d-flex align-items-center">
        <span class="contest-date">{{ contest.startDate | date: 'dd/MM/yyyy' }}</span>
        <span class="contest-date">{{ contest.endDate | date: 'dd/MM/yyyy' }}</span>
        <button class="btn btn-danger btn-sm ml-2" (click)="deleteContest(contest.contestName)">
          <i class="far fa-trash-alt"></i>
          Borrar Competición
        </button>
      </div>
    </li>
  </ul>
</div>