.body {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  background-color: #f9f9f9;
  font-family: 'Inter', sans-serif;
}

.container {
  max-width: 800px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #ffffff;
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.075);
  border-radius: 12px;
}

.title {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.8rem;
  color: #cb0017;
}

.form-group {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.date-input,
select,
input[type="file"],
input[type="text"] {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
}

.checkbox-group {
  margin: 1.5rem 0;
}

.checkbox-group p {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.checkbox-group label {
  margin-right: 1rem;
  font-weight: normal;
}

.btn-container {
  text-align: center;
  margin-top: 2rem;
}

.btn-primary {
  font-size: calc(0.90375rem + 0.045vw);
  border-radius: 0.5rem;
  background-color: #cb0017;
  border-color: #cb0017;
  color: #fff;
  padding: 0.375rem 0.75rem;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #980011;
}